.navbar {
  background-color: #5cb85c !important;
  margin-bottom: 0;
  border: none;
}

.navbar-footer{

  margin-bottom: 0;
  border: none;
  background-color: #333;
  height: 120px;
  color: #bbb;
  padding: 40px 0 0 110px;

}


.row-footer {
    margin-right: 0;
     margin-left: 0;
}

.navbar-default .navbar-brand {
    color: #fff;
}


.navbar-brand {

    font-size: 30px;

}

.fb_iframe_widget span {
    padding-top: 14px;
}

.row {
    padding-top: 20px;
}

.form-group {
    padding-top: 3px;
}

.btn-primary {
    margin-top: 3px;
}
