{% extends 'base.html' %}



{% block title %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Best Free e-books selections. Updated daily. Kindle Free Books">
<meta name="author" content="booklos">
<meta name="Keywords" content="kindle, books, free books, free kindle books, free ebooks, e-books, free e-books">


<meta property="og:url" content="http://www.booklos.com" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Booklos - Free Kindle Books - E-books" />
<meta property="og:description" content="Best Free e-books selections. Updated daily. Kindle Free Books" />
<meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />


<title>Booklos - Free Kindle Books - E-books</title>

{% endblock title%}


{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

{% include 'sidebar.html' %}

        <div class="col-md-9">

          <!--

          {% include 'slider.html' %} -->

            <div class="row">

              <!-- Items -->

              {% for obj in query%}


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">

                        <a href="{{obj.get_absolute_url}}">
                        <img class="img-responsive imgsize" src="{{obj.image}}" alt=""> </a>
                        <div class="caption">
                          <!--
                            <h4 class="pull-right">$24.99</h4> -->
                            <h4><a href="{{obj.get_absolute_url}}">{{obj.title | slice:"42"}}</a>
                            </h4>


                            <p><span class="glyphicon glyphicon-calendar"></span> {{obj.timestamp | date}}</p>
                            <h4><span class="label label-success">{{obj.price}}</span> <span class="label label-info">Kindle Edition</span>
</h4>


                        </div>

                    </div>
                </div>


                {% endfor %}

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=dominoprojectbooks&f=ifr&linkID=2e797a985ebb3dbbfe7d22d03f63c14b&t=booklos-20&tracking_id=booklos-20"
                    width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </div>

            </div>


            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                  {% if query.has_previous %}
                      <a href="?page={{ query.previous_page_number }}">&larr;
                        Previous</a>
                  {% endif %}

                </li>

                <span class="current">
                    Page {{ query.number }} of {{ query.paginator.num_pages }}.
                </span>


                <li class="next">

                  {% if query.has_next %}
                      <a href="?page={{ query.next_page_number }}">Next  &rarr;</a>
                  {% endif %}

                </li>
            </ul>


        </div>

    </div>

</div>


{% endblock content %}
