{% extends 'base.html' %}


{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

{% include 'sidebar.html' %}

        <div class="col-md-9">

          {% include 'slider.html' %}

            <div class="row">

              <!-- Items -->

              {% for obj in query%}


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{obj.image}}" alt="">
                        <div class="caption">
                          <!--
                            <h4 class="pull-right">$24.99</h4> -->
                            <h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
                            </h3>

                              <!--
                            <p>See more snippets like this online store item at
                              <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.
                            </p> -->

                        </div>
                          <!--
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div> -->

                    </div>
                </div>


                {% endfor %}





                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h4><a href="#">Like this template?</a>
                    </h4>
                    <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                    <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                </div>

            </div>


            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                  {% if query.has_previous %}
                      <a href="?page={{ query.previous_page_number }}">&larr;
                        Previous</a>
                  {% endif %}

                </li>

                <span class="current">
                    Page {{ query.number }} of {{ query.paginator.num_pages }}.
                </span>


                <li class="next">

                  {% if query.has_next %}
                      <a href="?page={{ query.next_page_number }}">Next  &rarr;</a>
                  {% endif %}

                </li>
            </ul>


        </div>

    </div>

</div>


{% endblock content %}
