{% extends 'base.html' %}



{% block title %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Best Free e-books selections. Updated daily. Kindle Free Books. {{instance.title}}">
<meta name="author" content="booklos {{instance.author}}">
<meta name="Keywords" content="kindle, books, free books, free kindle books, free ebooks, e-books, free e-books , {{instance.title}}">


<meta property="og:url" content="{{instance.get_absolute_url}}" />
<meta property="og:type" content="books.book" />
<meta property="og:title" content="Booklos Free Kindle E-Books - {{instance.title}}" />
<meta property="og:description" content="Best Free e-books selections. Updated daily. Kindle Free Books" />
<meta property="og:image" content="{{instance.image_medium}}" />

<title>Booklos Free Kindle E-Books - {{instance.title}}</title>


{% endblock title%}

    {% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Sidebar_detail.html -->

            {% include 'sidebar_detail.html' %}


            <div class="col-md-9">

                <div class="thumbnail">
                  <!--
                    <img class="img-responsive" src="http://placehold.it/800x300" alt=""> -->
                    <div class="caption-full">
                        <h2>{{instance.title}}
                        </h2>

                        <p class="lead">
                            by {{instance.author}}
                        </p>

                        <hr>
                        <p>
                          Category:
                        <span class="label label-warning">{{instance.category}}</span>
                      </p>

                        <hr>

                        <!-- Sumary-->

                        <div class="panel panel-info">
                              <div class="panel-heading">

                                     <h2 class='panel-title'>Sumary</h2>
                              </div>
                                <div class="panel-body">

                                  <p>{% autoescape off %} {{instance.description}} {% endautoescape %} </p>


                               </div>

                        </div>


                        <!-- Facebook Share -->

                            <div class="fb-share-button"
                            data-href="{{instance.get_absolute_url}}"
                            data-layout="button_count" data-mobile-iframe="true" style="padding:0 20px 0 20px  "></div>

                            <!-- Twitter -->


                            <a href="https://twitter.com/share" class="twitter-share-button"
                             data-text="#Booklos Free Kindle E-books" data-via="booklosweb"
                             data-hashtags="freekindle #ebooks">Tweet</a>


                </div>
                    <hr>


                    <script type="text/javascript">
                            amzn_assoc_placement = "adunit0";
                            amzn_assoc_enable_interest_ads = "true";
                            amzn_assoc_tracking_id = "booklos-20";
                            amzn_assoc_ad_mode = "auto";
                            amzn_assoc_ad_type = "smart";
                            amzn_assoc_marketplace = "amazon";
                            amzn_assoc_region = "US";
                            amzn_assoc_linkid = "bef26911608999ea26a742eb5830748f";
                            amzn_assoc_emphasize_categories = "1000,133140011";
                            amzn_assoc_fallback_mode = {"type":"search","value":"books"};
                            amzn_assoc_default_category = "Books";
                    </script>
                    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>



                </div>

                <hr>

            </div>

        </div>

    </div>
    <!-- /.container -->



{% endblock content %}
