{% extends 'base.html' %}



{% block title %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Best Free e-books selections. Updated daily. Kindle Free Books">
<meta name="author" content="booklos">
<meta name="Keywords" content="kindle, books, free books, free kindle books, free ebooks, e-books, free e-books, {{c}}">


<meta property="og:url" content="http://www.booklos.com" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Booklos - Free Kindle Books - E-books" />
<meta property="og:description" content="Best Free e-books selections. Updated daily. Kindle Free Books" />
<meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />


<title>Booklos - Free Kindle Books - E-books - Category {{c}}</title>

{% endblock title%}


{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

{% include 'sidebar.html' %}

        <div class="col-md-9">


          <ol class="breadcrumb">
                <li><a href="http://booklos.com">Home</a></li>
                <li class="active">{{c}}</li>
          </ol>


            <div class="row">

              <!-- Items -->

              {% for obj in instance%}




                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">

                        <a href="{{obj.get_absolute_url}}">
                        <img class="img-responsive imgsize" src="{{obj.image}}" alt=""> </a>
                        <div class="caption">
                          <!--
                            <h4 class="pull-right">$24.99</h4> -->
                            <h4><a href="{{obj.get_absolute_url}}">{{obj.title | slice:"45"}}</a>
                            </h4>


                            <p><span class="glyphicon glyphicon-calendar"></span> {{obj.timestamp | date}}</p>
                            <h4><span class="label label-success">{{obj.price}}</span> <span class="label label-info">Kindle Edition</span>
</h4>


                        </div>
                          <!--
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div> -->

                    </div>
                </div>


                {% endfor %}

            </div>


            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                  {% if instance.has_previous %}
                      <a href="?page={{ instance.previous_page_number }}">&larr;
                        Previous</a>
                  {% endif %}

                </li>

                <span class="current">
                    Page {{ instance.number }} of {{ instance.paginator.num_pages }}.
                </span>


                <li class="next">

                  {% if instance.has_next %}
                      <a href="?page={{ instance.next_page_number }}">Next  &rarr;</a>
                  {% endif %}

                </li>
            </ul>


        </div>

    </div>

</div>


{% endblock content %}
