<div class="col-md-3">


  <!-- Facebook-->
  <div class="fb-like"  data-href="https://www.facebook.com/booklos/"
  data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width
=290px></div>


<br><hr>


<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=14&l=ur1&category=kindlerotating&f=ifr&linkID=5687a0533b90c4b2f0cfb067da609100&t=booklos-20&tracking_id=booklos-20"
width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>



<!--

    <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>

  -->
</div>
